<app-loading *ngIf="!pokemonLoaded"></app-loading>
<div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="pokemonLoaded">
  <div class="col animated fadeIn fast" *ngFor="let pokemon of listPokemon">
    <div class="card h-100">
      <img src="{{ pokemon.Image }}" class="card-img-top" alt="{{ pokemon.Name }}">
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.Name }}</h5>
        <p class="card-text">{{ pokemon.Description }}</p>
        <button type="button" class="btn" (click)="viewPokemonDetails(pokemon.id)">
          Ver más
        </button>
      </div>
    </div>
  </div>
</div>