/*------------------------------*\
            $BUTTONS
\*------------------------------*/
%btn {
    display: inline-block;
    line-height: 2.5;
    border: none;
    font-size: $button-font-size;
    &__icon {
        font-size: 0.6em;
    }
}

.btn {
    @extend %btn;
}

.btn--info {
    @extend %btn;
    background-color: $color-info;
}

.btn--error {
    @extend %btn;
    background-color: $color-error;
}

.btn--warning {
    @extend %btn;
    background-color: $color-alert;
}

.btn-success {
    @extend %btn;
    background-color: $color-success;
}