/*------------------------------*\
            $COLORS
\*------------------------------*/
/*
* Branding Colors
*/
/*
* Alert Colors
*/
/*
* Fonts
*/
/*
* Buttons
*/
/*
* Constants
*/
/*------------------------------*\
            $FUNCTIONS
\*------------------------------*/
/*------------------------------*\
            $MIXINS
\*------------------------------*/
/*------------------------------*\
            $FUNCTIONS
\*------------------------------*/
/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

/*------------------------------*\
            $BUTTONS
\*------------------------------*/
.btn-success, .btn--warning, .btn--error, .btn--info, .btn {
  display: inline-block;
  color: #ffffff;
  background-color: #FF0000;
  line-height: 2.5;
  border-radius: 4px;
  font-size: 24px;
}
.btn--info {
  background-color: #19E4E6;
}

.btn--error {
  background-color: #F30303;
}

.btn--warning {
  background-color: #FB9D1F;
}

.btn-success {
  background-color: #0DFC0B;
}

/*------------------------------*\
            $CONTAINERS
\*------------------------------*/
/*------------------------------*\
            $FONTS
\*------------------------------*/
/*------------------------------*\
            $INPUTS
\*------------------------------*/
/*------------------------------*\
            $LINKS
\*------------------------------*/
/*------------------------------*\
            $TABLES
\*------------------------------*/
/*------------------------------*\
            $TITTLES
\*------------------------------*/
/*------------------------------*\
            $FOOTER
\*------------------------------*/
.footer {
  color: #ffffff;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/*------------------------------*\
            $GRIDS
\*------------------------------*/
/*------------------------------*\
            $HEADER
\*------------------------------*/
.header {
  background-color: #FF0000;
}

/*------------------------------*\
            $LOGO
\*------------------------------*/
/*------------------------------*\
            $MENU
\*------------------------------*/
/*------------------------------*\
            $SIDEBAR
\*------------------------------*/
/*------------------------------*\
            $LAYOUT
\*------------------------------*/
/*------------------------------*\
            $UTILITIES
\*------------------------------*/